@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body, html {
    font-family: 'Montserrat';
    margin: 0;

    a{
        text-decoration: none !important;
    }
    // top:2em;
    animation: bodyFadeIn 0.7s ease-in-out forwards;

}

@keyframes bodyFadeIn{
    from{
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

// .mainBody {
//    left: 2em !important;
//     animation: moveDown 0.4 ease-in-out forwards;
// }

// @keyframes moveBody{
//     from{
//         top: -2em;
//     }
//     to{
//         top: 0em;
//     }
// }


header{
    padding: 2em;
    transition: all 0.5s ease-in-out;
    background-color: rgba($color: #000000, $alpha: 0);

    .logo{
        color: black;
        font-weight: bold;
    }

    .menu-btn{
        width: 18px;
        float: right;
        cursor: pointer;
    }
}

header:hover{
    background-color: rgba($color: #000000, $alpha: 0.1);
}

section{
    padding: 4em;
    h1{
        font-size: 4em;
        margin: 0 auto;
        margin-top: 1em;
        width: 70%;

        &::before {
            content: ' ';
            border-top: 5px solid rgb(201, 201, 201);
            display: block;
        }
    }

    h3{
        font-size: 1em;
        margin: 0 auto;
        width: 70%;
        // margin-left: 6em;
    }
}

section h1:hover{
    transition: ease-in-out;
}

.box{
    background-color: black;
    height: 10em;
    width: 10em;
    position: relative;
    margin: 0 auto;
    text-align: center;
    transition: 0.4s ease-in-out;
    animation: fadeIn 1s ease-in-out;
    border: 2px solid black;
}


.box:hover{
    // animation: fadeIn 0.4s ease-in-out;
    height: 5em;
    width: 20em;
    background-color: white;
    border: 2px solid black;
}

nav {
    position: absolute;
    background-color: black;
    padding: 2em;
    width: calc(100% - 4em);
    height: calc(100% - 4em);
    display: none;
    transform: scaleX(0);
    transform-origin: right;

    .close-btn {
        width: 18px;
        float: right;
        cursor: pointer;
        opacity: 0;
    }

    ul {
        list-style-type: none;
        margin: 10% auto 0 auto;
        padding: 0;
        display: grid;
        grid-template-columns:  repeat(4, 25%);
        width: 80%;

        a {
            color: white;
            font-weight: bold;
            font-size: 1.4em;
        }

        span {
            color: gray;
            display: block;
            font-size: .75em;
            margin-top: 20px;
        }

        li{
            opacity: 0;
        }
    }
}

.show-menu{
    display: block;
    animation: slide-menu 1s ease-in forwards;

    .close-btn{
        animation: show-x 1s 1s forwards;
    }

    li:nth-of-type(1){
        animation: menu-item-anim .6s forwards 1s ease-in-out;
    }
    li:nth-of-type(2){
        animation: menu-item-anim .6s forwards 1.2s ease-in-out;
    }
    li:nth-of-type(3){
        animation: menu-item-anim .6s forwards 1.4s ease-in-out;
    }
    li:nth-of-type(4){
        animation: menu-item-anim .6s forwards 1.6s ease-in-out;
    }
}


@keyframes slide-menu{
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

@keyframes show-x{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes menu-item-anim{
    from {
        transform: translateY(60%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}



